# Some of the packages are not installed on macOS as they are part of miniconda
xlrd==1.2.0
xlwings==0.29.1
numpy==1.18.5
pandas==1.0.5
patsy==0.5.1
matplotlib==3.2.2
nltk==3.5
scikit-learn==0.23.1
scipy==1.5.1
seaborn==0.10.1
statsmodels==0.11.1
appscript==1.2.2;platform_system=='Darwin'
certifi==2020.6.20;platform_system=='Windows'
cffi==1.14.0;platform_system=='Windows'
chardet==3.0.4
click==7.1.2
comtypes==1.1.7;platform_system=='Windows'
cryptography==2.9.2;platform_system=='Windows'
cycler==0.10.0
idna==2.10;platform_system=='Windows'
joblib==0.16.0
kiwisolver==1.2.0
lxml==4.9.2;platform_system=='Darwin'
psutil==5.9.4;platform_system=='Darwin'
pycparser==2.20;platform_system=='Windows'
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywin32==228;platform_system=='Windows'
requests==2.24.0;platform_system=='Windows'
six==1.15.0;platform_system=='Windows'
threadpoolctl==2.1.0
tqdm==4.47.0;platform_system=='Windows'
urllib3==1.25.9;platform_system=='Windows'